.imgEventAll2{
    width: 406px;
    height: 236px;
}

.pCarruselEvent2{
    color:#090A0A;
    font-size: 22px;
    font-weight: bold;
}

.pCarruselTime2{
    color:#4B4B4B;
    font-size: 14px;
    font-weight: bold;
}

.pCarruselTime3{
    color: #6093F1;
    font-size: 14px;
    font-weight: bold;
}

.pfichaTiempo{
    display: flex;
    flex-direction: row;
    margin-right: 3px;
}

.pfichaTiempo p{
    margin-right: 5px;
}

.pfichaDoc{
    display: flex;
    flex-direction: column;
    
}

.pfichaDoc p{
    margin-bottom: 0.3px;
    margin-top: 1px;
}