.ulMenu{
    display: none;
    margin-left: 190px;
    
  }
  
  .inputMenu:checked  ~ .ulMenu{
    display:block;
  }

  .inputMenu {
    display: none;
  }

  .labelMenu {
    box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: right;
    user-select: none;
    margin-left: 370px;
  }

  .liMenu {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
    text-align: center;
    width: 150px;
    border: solid 2px;
  }